section .profile_new {
  margin-top: 5rem;
  padding: 0 10%;
}

.text-green {
  text-align: center;
  color: #005224;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

section .profile_subtitle {
  font-weight: 600;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  color: #000;
  font-size: 1.1rem;
}

.profile-details {
  color: #454545;
  font-weight: 200;
  gap: 0.5rem !important;
  display: flex !important;
  margin-bottom: 0;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  padding-inline: 1.2rem;
}

.profile-wrap-1 {
  width: 50%;
  background-color: transparent;
  height: 80vh;
  margin: 1rem;
}

.profile-account {
  background: transparent;
  border-radius: 16px;
  padding: 3rem;
  border: 1px solid #d4cfc9;
}

.profile-referral {
  background: #fff1eb;
  border-radius: 8px;
  border: 1px dashed #fc4c02;
  margin-top: 3rem;
}

.profile-copy {
  background: #fc4c02;
  border: 4px 8px 4px 4px;
  border-radius: 6px;
  padding: 4px 8px;
  position: relative;
  left: 20.78rem;
  bottom: 0.1rem;
  cursor: pointer;
}

.profile-copy-text {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  margin: 0 !important;
  padding: 3px;
  font-size: 1.2rem;
}

.profile-link-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.profile-links {
  text-align: center;
  text-decoration: none;
  border-radius: 5rem;
  border: none;
  max-width: 100%;
  background-color: #005224;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  padding: 4px 20px 6px;
  font-weight: 700;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.profile-link {
  text-align: center;
  text-decoration: none;
  background: rgb(206, 253, 228);
  color: black;
  border: none;
  border-radius: 5rem;
  max-width: 100%;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 20px 6px;
  font-weight: 700;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.profile-links:hover {
  background: #fc4c02;
  transition: all 1s ease-out;
}

.profile-wrap-2 {
  background-color: transparent;
  width: 50%;
  height: 90vh;
  margin: 1rem;
}

.profile-container {
  background: #f5f3f1;
  border-radius: 16px;
  padding: 2rem 2rem;
  margin: 0;
}

.profile-empty {
  padding: 2rem 2.5rem;
  height: 62vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-shop {
  text-decoration: none;
  color: rgb(0, 165, 79);
  font-weight: 700;
  display: flex;
  justify-content: center;
}

/* UPDATE STYLES */
.update {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
}

.update-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-family: Gilroy, sans-serif;
  width: 30rem;
  border: 1px solid #3c454c;
  border-radius: 10px;
  padding: 3rem 5% 4rem;
  color: #62626c;
}

.update-profile h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #005224;
  line-height: 1.2;
}

.update-profile p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.update-form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 100%;
}

.default_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #000;
}

.default_input label {
  display: inline-block;
  color: #000;
  cursor: pointer;
}

.default_input input {
  width: 100%;
  height: 2.2rem;
  line-height: normal;
  color: inherit;
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.update_button_ {
  display: flex;
  justify-content: space-between !important;
  margin-top: 3rem;
  width: 100%;
}

.profile_button {
  border: none;
  background-color: #005224;
  color: #fff;
  padding: 14px 16px;
  font-weight: 600;
  width: 14rem;
  text-wrap: nowrap;
}
